/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * henderson-sans-basic:
 *   - http://typekit.com/eulas/00000000000000003b9ae043
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-04-26 03:33:02 UTC"}*/

@import url("p.css");

@font-face {
font-family:"henderson-sans-basic";
src:url("af/8a2d0a/00000000000000003b9ae043/27/l") format("woff2"),url("af/8a2d0a/00000000000000003b9ae043/27/d") format("woff"),url("af/8a2d0a/00000000000000003b9ae043/27/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-henderson-sans-basic { font-family: "henderson-sans-basic",sans-serif; }
